In [1]:
import pandas as pd
import nltk

In [6]:
df = pd.read_csv('/home/agniva/Documents/Machine Learning/tmdb_top_rated_movies.csv')

In [7]:
df.head()

,title,description,genres
0,Miracle in Cell No. 7,"Separated from his daughter, a father with an ...",['Unknown']
1,Paths of Glory,A commanding officer defends three scapegoats ...,"['Unknown', 'Unknown', 'Unknown']"
2,The Legend of 1900,The story of a virtuoso piano player who lives...,"['Unknown', 'Unknown']"
3,Le Trou,Four prison inmates have been hatching a plan ...,"['Unknown', 'Unknown', 'Unknown']"
4,Oldboy,"With no clue how he came to be imprisoned, dru...","['Unknown', 'Unknown', 'Unknown', 'Unknown']"

In [8]:
df = df.drop('genres', axis = 1)

In [9]:
df.head()

                   title                                        description
0  Miracle in Cell No. 7  Separated from his daughter, a father with an ...
1         Paths of Glory  A commanding officer defends three scapegoats ...
2     The Legend of 1900  The story of a virtuoso piano player who lives...
3                Le Trou  Four prison inmates have been hatching a plan ...
4                 Oldboy  With no clue how he came to be imprisoned, dru...

In [10]:
# Lowercasing
df['title'] = df['title'].str.lower()
df['description'] = df['description'].str.lower()

In [11]:
df.head()

                   title                                        description
0  miracle in cell no. 7  separated from his daughter, a father with an ...
1         paths of glory  a commanding officer defends three scapegoats ...
2     the legend of 1900  the story of a virtuoso piano player who lives...
3                le trou  four prison inmates have been hatching a plan ...
4                 oldboy  with no clue how he came to be imprisoned, dru...

In [17]:
# Remove Punctuations
import string
string.punctuation
exclude = string.punctuation

def remove_punc(text):
    if isinstance(text, str):
        return text.translate(str.maketrans('', '', exclude))
    return text

In [18]:
df['title'] = df['title'].apply(remove_punc)

In [19]:
df['description'] = df['description'].apply(remove_punc)

In [20]:
df.head()

                  title                                        description
0  miracle in cell no 7  separated from his daughter a father with an i...
1        paths of glory  a commanding officer defends three scapegoats ...
2    the legend of 1900  the story of a virtuoso piano player who lives...
3               le trou  four prison inmates have been hatching a plan ...
4                oldboy  with no clue how he came to be imprisoned drug...